@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@400;700;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
  color: #EAF2EF;
  font-family: 'Work Sans', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EAF2EF;
}
