@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

.fc {
  height: 100%;
}

.fc-day-header span {
  color: #1d2b4e;
}

.fc-day-number {
  color: #1d2b4e;
}

.fc-time span {
  color: #1d2b4e;
}