.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  background-color: #eaf2ef;
  box-sizing: border-box;
}

.content .sidebar {
  min-width: 600px;
  display: flex;
  flex: 0 1;
  flex-direction: column;
  align-items: center;
  padding: 50px 70px 50px;
  background-color: #1d2b4e;
  box-sizing: border-box;
}

.content .sidebar form {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.content .sidebar h1 {
  font-size: 2.2em;
  margin: 0 0 10px;
}

.content .sidebar p {
  font-weight: 400;
  font-size: 0.9em;
  text-align: center;
}

.content .sidebar span {
  padding-left: 10px;
  margin-bottom: 7px;
}

.content .sidebar input {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 20px;
  color: #eaf2ef;
  background: #0e1118;
  outline: none;
  border: none;
  box-shadow: 0 0 2px #eaf2ef;
  box-sizing: border-box;
  font-size: 1em;
  font-family: "Work Sans", sans-serif;
}

.content .sidebar input[type="submit"] {
  justify-self: flex-end;
  margin-top: auto;
  color: #0e1118;
  background-color: #ffc857;
  font-size: 1em;
  cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="date"]::-webkit-input-placeholder{ 
  visibility: hidden !important;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-outer-spin-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.content .sidebar .horizontalGroup {
  display: flex;
  flex-direction: row;
}

.content .sidebar .verticalGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.content .sidebar .horizontalGroup .verticalGroup {
  &:first-of-type {
    width: 60%;
    margin-right: 10px;
    box-sizing: border-box;
  }

  &:last-of-type {
    width: 40%;
    margin-left: 10px;
    box-sizing: border-box;
  }
}

.content .calendarContainer {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: #0e1118;
}

.content .calendar {
  width: 100%;
}
