.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
}

.welcomeSection {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.welcomeSection .backgroundContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1c1d20;
  background: -webkit-linear-gradient(to right, #1d2b4e, #0e1118 75%);
  background: linear-gradient(to right, #1d2b4e, #0e1118 75%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 650px);
}

.welcomeSection .foregroundContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 0 510px 0 190px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 3;
}

.welcomeSection .imageContainer {
  position: relative;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 650px);
  z-index: 2;
}

.welcomeSection .imageContainer .mainImage {
  position: relative;
  margin-left: auto;
  width: 800px;
}

.welcomeSection .joinus {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EAF2EF;
  text-align: center;
}

.welcomeSection .joinus span {
  font-size: 20px;
  font-weight: 700;
}

.welcomeSection .joinus a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 30px;
  color: #EAF2EF;
  background: #0e1118;
  border: none;
  box-shadow: 0 0 2px #EAF2EF;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}

.welcomeSection .joinus a > span {
  font-size: 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

.welcomeSection .title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 110px;
}

.welcomeSection .title > span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.welcomeSection .title > span:nth-of-type(1) {
  padding-right: 80px;
}

.welcomeSection .title > span:nth-of-type(2) {
  padding-right: 50px;
}

.aboutSection {
  display: flex;
  flex-direction: column;
  padding: 50px 190px 80px;
  height: 100%;
  color: #0e1118;
  background-color: #EAF2EF;
}

.sectionContainer {
  color: inherit;
  width: 700px;
  margin-top: 20px;
}

.sectionContainer h3, p {
  color: inherit;
}

.aboutSection .sectionContainer:first-of-type {
  margin-top: -30px;
}

.aboutSection .sectionContainer:nth-of-type(2n) {
  text-align: right;
  align-self: flex-end;
}

.aboutSection h2 {
  margin-bottom: 20px;
  color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2em;
}

.aboutSection p {
  color: inherit;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
}

.rulesSection {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 800px;
  padding-top: 150px;
  padding: 180px 190px 50px;
  box-sizing: border-box;
  background-color: #FFC857;
  color: #0e1118;
  clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;

}

.rulesSection h2 {
  color: inherit;
  font-size: 2.2em;
  font-family: 'Montserrat', sans-serif;
}

.rulesSection h3 {
  margin-bottom: 8px;
}

.rulesSection p {
  margin-top: 0px;
}

.rulesSection img {
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: -200px;
  right: -200px;
  opacity: 0.05;
}
