.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.header .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0e1118;
  z-index: 1;
}

.header .foreground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 7;
}

.header .logo {
  display: flex;
  flex-direction: row;
}

.header .logo img {
  width: 22px;
  height: 22px;
  padding: 0 5px;
}

.header nav {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 55px;
  z-index: 20;
}

.header nav > a {
  margin: 0 20px;
  font-weight: 700;
  cursor: pointer;
}

.header nav > a > img {
  width: 10px;
  height: 10px;
  padding: 3px;
  border: 1px solid #EAF2EF;
  border-radius: 20px;
}