.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 180px;
  color: #EAF2EF;
  background-color: #12151c;
  padding: 20px 190px;
}

.footer .column {
  display: flex;
  flex-direction: column;
  margin-right: 300px;
}

.footer .column:last-of-type {
  justify-content: center;
  justify-self: flex-end;
  margin: 0 0 0 auto;
}

.footer .column h3 {
  margin: 17px 0;
  font-size: 1.1em;
  font-weight: 700;
}

.footer .column a {
  font-size: 1em;
  margin: 2px 0;
}

.footer .logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .logo {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.footer .logo img {
  width: 2em;
  height: 2em;
  padding: 0 5px;
}

.footer .logoContainer span {
  margin-left: 20px;
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer .subtext {
  display: flex;
  margin-top: 5px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.7em;
  font-weight: 400;
}

.footer .subtext img {
  width: 1.1em;
  height: 1.1em;
  margin: 0 5px;
}